.selected{
  background-color: yellow;
}

.field_set{
  border-color: black;
  border-style: solid;
}

.inline, .resume_block, .show_div {
  display: inline-block;
}

.select_width{
  width: 200px;
}

.resume_block {
  background: white;
  width: 250px;
  height: 250px;
  border: 2px black solid;
  margin: 3px;
}

.border {
  border: 1px black solid;
  padding: 5px;
}

.hidden {
  visibility: hidden;
}

.visible
{
  visibility: visible;
}

.bg {
  background-color: #0ff;
}

.commun {
  font-size:12px;
  padding:0;
  margin:0;
}

.bolder
{
  font-weight:bolder;
}

.show_div {
  padding: 5px 20px;
}

.comm_div {
  height: 55px;
}

.footer {
  padding: 0 20px;
}

.login {
  position:relative;
  top:5px;
  left:20px;
}

.top_border {
  border: 1px white solid;
  padding: 2px;
}
