<template name="editResume">
  {{#if currentUser}}
    <div class="editPerson">
      <form class="updateForm">
        <input type="hidden" class="form-control" name="personId" value="{{person._id}}"/>
        <div class="form-group inline">
          <label for="">Name</label>
          <input type="text" class="form-control" name="personName" value="{{person.name}}"/>
        </div>

        <div class="form-group inline" id="allSkills">
          <label for="">Skills</label>
          {{#if arr_skills}}
            {{#each arr_skills}}
              <input type="text" class="form-control"  name="personSkill" value="{{skill}}"/>
            {{/each}}
          {{else}}
            <input type="text" class="form-control" name="personSkill" placeholder="skill"/>
          {{/if}}
        </div>

        <div class="form-group inline">
          <label for="">Date of Birth</label>
          <input type="date" class="form-control" name="personDate" value="{{person.dateOfBirth}}"/>
        </div>

        <div class="form-group inline">
          <label for="">Age</label>
          <input type="text" class="form-control" name="personAge" value="{{person.age}}"/>
        </div>

        <div class="form-group inline">
          <label for="">City</label>
          <input type="text" class="form-control" name="personCity" value="{{person.city}}"/>
        </div>

        <div class="form-group inline">
          <label for="">Phone</label>
          <input type="text" class="form-control" name="personPhone" value="{{person.phone}}"/>
        </div>

        <div class="form-group inline">
          <label for="">Skype</label>
          <input type="text" class="form-control" name="personSkype" value="{{person.skype}}"/>
        </div>

        <div class="form-group inline">
          <label for="">Email</label>
          <input type="email" class="form-control" name="personEmail" value="{{person.email}}"/>
        </div>

        <div class="form-group inline">
          <label for="">Salary</label>
          <input type="text" class="form-control" name="personSalary" value="{{person.salary}}"/>
        </div>

        <div class="form-group inline border">
          <h4>Зайнятість</h4>
          <div class="checkbox">
            <label><input type="checkbox" class="personWork" name="personWork" value="Повна зайнятість"/>Повна зайнятість</label><br/>
            <label><input type="checkbox" class="personWork" name="personWork" value="Неповна зайнятість"/>Неповна зайнятість</label><br/>
            <label><input type="checkbox" class="personWork" name="personWork" value="Дистанційна робота"/>Дистанційна робота</label><br/>
          </div>
        </div>

        <div class="form-group inline border" id="allEduc">
          {{#if education}}
            {{#each education}}
              <h4 for="">Освіта</h4>
              <input type="text" class="form-control" name="education" value="{{specialty}}"/>
              <label for="">From</label>
              <input type="date" class="form-control" name="educationFrom" value="{{from}}"/>
              <label for="">To</label>
              <input type="date" class="form-control" name="educationTo" value="{{to}}"/><br/>
              <input type="text" class="form-control" name="educationPlace" value="{{place}}"/><hr/>
            {{/each}}
          {{else}}
            <h4 for="">Освіта</h4>
            <input type="text" class="form-control" name="education" placeholder="Спеціальність"/>
            <label for="">From</label>
            <input type="date" class="form-control" name="educationFrom" placeholder="Навчався З"/>
            <label for="">To</label>
            <input type="date" class="form-control" name="educationTo" placeholder="Навчався До"/><br/>
            <input type="text" class="form-control" name="educationPlace" placeholder="Навчальний заклад"/>
          {{/if}}
        </div>

        <div class="form-group inline border" id="allJobs">
          {{#if experiences}}
            {{#each experiences}}
              <h4 for="">Досвід роботи</h4>
              <input type="text" class="form-control" name="job" value="{{specialty}}"/>
              <label for="">From</label>
              <input type="date" class="form-control" name="jobFrom" value="{{from}}"/>
              <label for="">To</label>
              <input type="date" class="form-control" name="jobTo" value="{{to}}"/><br/>
              <input type="text" class="form-control" name="jobPlace" value="{{place}}"/><hr/>
            {{/each}}
          {{else}}
            <h4 for="">Досвід роботи</h4>
            <input type="text" class="form-control" name="job" placeholder="Спеціальність"/>
            <label for="">From</label>
            <input type="date" class="form-control" name="jobFrom" placeholder="Працював З"/>
            <label for="">To</label>
            <input type="date" class="form-control" name="jobTo" placeholder="Працював До"/><br/>
            <input type="text" class="form-control" name="jobPlace" placeholder="Місце роботи"/>
          {{/if}}
        </div>

        <div class="form-group inline border" id="allLangs">
          <h4 for="">Знання мови</h4>
          {{#if languages}}
            {{#each languages}}
              <select class="form-control" name="lang">
                <option>{{language}}</option>
                <option>Англійська</option>
                <option>Російська</option>
                <option>Німецька</option>
                <option>Французька</option>
                <option>Італійська</option>
                <option>Польська</option>
                <option>Іспанська</option>
                <option>Португальська</option>
              </select><br/>
              <select class="form-control" name="langLevel">
                <option>{{level}}</option>
                <option>Високий</option>
                <option>Вище середнього</option>
                <option>Середній</option>
                <option>Нище середнього</option>
                <option>Низький</option>
              </select><hr/>
            {{/each}}
          {{else}}
            <select class="form-control" name="lang">
              <option>Мова</option>
              <option>Англійська</option>
              <option>Російська</option>
              <option>Німецька</option>
              <option>Французька</option>
              <option>Італійська</option>
              <option>Польська</option>
              <option>Іспанська</option>
              <option>Португальська</option>
            </select><br/>
            <select class="form-control" name="langLevel">
              <option>Рівень</option>
              <option>Високий</option>
              <option>Вище середнього</option>
              <option>Середній</option>
              <option>Нище середнього</option>
              <option>Низький</option>
            </select><br/>
          {{/if}}
        </div>

        <div class="form-group inline" id="allProffs">
          <label for="">Професійні навички</label>
          {{#if arr_proffs}}
            {{#each arr_proffs}}
              <input type="text" class="form-control" name="personProff" value="{{proff}}"/>
            {{/each}}
          {{else}}
            <input type="text" class="form-control" name="personProff" value="{{proff}}"/>
          {{/if}}
        </div>

        <div class="form-group inline border" id="allCommuns">
          {{#if communication}}
            {{#each communication}}
              <span>Дата: {{date}}, Бали: {{mark}}</span><br/>
              <h4 for="">Співбесіда</h4>
              <input type="date" class="form-control" name="communDate" value="{{date}}"/><br/>
              <input type="text" class="form-control" name="communValue" value="{{mark}}"/><hr/>
            {{/each}}
          {{else}}
            <h4 for="">Співбесіда</h4>
            <input type="date" class="form-control" name="communDate" placeholder="Дата"/><br/>
            <input type="text" class="form-control" name="communValue" placeholder="Кількість балів"/><br/>
          {{/if}}
        </div>

        <div class="form-group inline border">
          <h4>Професія</h4>
          <div class="checkbox">
            <label><input type="checkbox" name="proffession" value="Front-end"/>Front-end</label><br/>
            <label><input type="checkbox" name="proffession" value="Back-end"/>Back-end</label><br/>
          </div><hr/>
          <h4>Статус</h4>
          <div class="checkbox">
            <label><input type="checkbox" name="status" value="New"/>Нове</label><br/>
            <label><input type="checkbox" name="status" value="Consider"/>В розгляді</label><br/>
            <label><input type="checkbox" name="status" value="Yes"/>Пройшов співбесіду</label><br/>
            <label><input type="checkbox" name="status" value="Reserve"/>Резерв</label><br/>
            <label><input type="checkbox" name="status" value="Refused"/>Відмовився</label><br/>
            <label><input type="checkbox" name="status" value="No"/>Не підходить</label><br/>
          </div>
        </div>

        <div class="border" id="comment">
          <h4 for="">Коментарі</h4>
          <textarea class="form-control" rows="7" name="comment" value={{person.comment}}></textarea>
        </div><br/>

        <button type="submit" class="btn btn-default edit">Edit</button>
      </form>
    </div>
  {{/if}}
</template>
