<template name="showResume">
  {{#if currentUser}}
    <div class="show_div">
      <p>Name: <span class="bolder">{{person.name}}</span></p>
      <p>Skills: <span class="bolder">{{person.skill}}</span></p>
      <p>Date of Birth: <span>{{person.dateOfBirth}}</span></p>
      <p>Year old: <span>{{person.age}}</span></p>
      <p>City: <span>{{person.city}}</span></p>
      <p>Phone: <span>{{person.phone}}</span></p>
      <p>Skype: <span>{{person.skype}}</span></p>
      <p>Email: <span>{{person.email}}</span></p>
    </div>
    <div class="show_div">
      <p>Money: <span class="bolder">{{person.salary}} грн.</span></p><br/>
      <p><span class="bolder">{{person.work}}</span></p><br/>
      {{#if education}}
        <h5 class="bolder">Education:</h5>
        {{#each education}}
          <span>Specialty: {{specialty}}, from: {{from}}, to: {{to}}, place: {{place}}</span><br/>
        {{/each}}
      {{/if}}
    </div>
    <div class="show_div">
      {{#if experiences}}
        <h5 class="bolder">Experiences:</h5>
        {{#each experiences}}
          <span>Specialty: {{specialty}}, from: {{from}}, to: {{to}}, place: {{place}}</span><br/>
        {{/each}}
      {{/if}}
      <br/>
      {{#if languages}}
        <h5 class="bolder">Languages:</h5>
        {{#each languages}}
          <span>Language: {{language}}, level: {{level}}</span><br/>
        {{/each}}
      {{/if}}
    </div>
    <div class="show_div">
    <h5 class="bolder">Професійні навички: <span class="bolder">{{person.proff}}</span></h5><br/>
      {{#if communication}}
        <h5 class="bolder">Співбесіди:</h5>
        {{#each communication}}
          <span>Дата: {{date}}, Бали: {{mark}}</span><br/>
        {{/each}}
      {{/if}}
    </div>
    <div class="show_div">
      <h5 class="bolder">Comment:</h5><span>{{person.comment}}</span>
      <h5 class="bolder">Files: </h5>
      <table border="1">
        <tbody>
          {{#each personFiles}}
            <tr>
              <td>{{original.name}}</td>
              <td><a href="{{url}}">link</a></td>
              <td><button id="deleteFileButton">delete</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table><br/><br/>
      <p>
        <a href="/edit/{{person._id}}">
          <button type="button" class="btn btn-default">Edit resume</button>
        </a>
      </p>
    </div>
  {{/if}}
</template>
