<template name="topMenu">
  {{#if currentUser}}
    <hr />
    <p>
      <a href="{{pathFor route='addPersonForm'}}">
        <button type="button" class="btn btn-default">Додати резюме</button>
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
    <div class="top_border inline">
      <label> Професія: </label>
        <div class="select_width inline">
          <select id="proff_id" class="form-control inline">
            <option class="proffession" value="Front-end">Front-end ({{frontEnd}})</option>
            <option class="proffession" value="Back-end">Back-end ({{backEnd}})</option>
          </select>
        </div>
      

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label> Статус резюме: 
        <div class="select_width inline">
          <select class="form-control inline" id="status">
            <option class="status" value="New">Нові ({{new}})</option>
            <option class="status" value="Consider">В розгляді ({{consider}})</option>
            <option class="status" value="Yes">Пройшли співбесіду ({{yes}})</option>
            <option class="status" value="Reserve">Резерв ({{reserve}})</option>
            <option class="status" value="Refused">Відмовилися ({{refused}})</option>
            <option class="status" value="No">Не підходять ({{no}})</option>
          </select>
        </div>
      </label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{{pathFor route='select'}}">
        <input type="button" id="but" class="btn btn-default" value="Розширений перегляд"/>
      </a>
    </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Всього: {{resumeCount}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{{pathFor route='search'}}">ПОШУК</a>&nbsp;&nbsp;&nbsp;
      <div class="dropdown inline hidden" id="sort">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          СОРТУВАННЯ
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li class="proff"><a href="#" class="sort">Name</a></li>
          <li class="proff"><a href="#" class="sort">Age</a></li>
          <li class="proff"><a href="#" class="sort">Skill</a></li>
        </ul>
      </div>
      &nbsp;&nbsp;&nbsp;<a href="#">НАЛАШТУВАННЯ</a>&nbsp;&nbsp;&nbsp;
      <a href="{{pathFor route='allResumes'}}">
        <input type="button" class="btn btn-default" value="ВСІ РЕЗЮМЕ"/>
      </a>

      &nbsp;&nbsp;&nbsp;
      <a href="{{pathFor route='removePerson'}}">DELETE</a>
    </p>
    <hr />
  {{/if}}
</template>
