<template name="select">
  {{#if selects}}
    <h5 class="bolder">Persons:</h5>
    {{#each selects}}
      <hr/>
      <p>Name: {{name}}, age: {{age}}, proffession: {{proffession}}, status: {{status}}</p>
      <div class="show_div">
        <p>Name: <span class="bolder">{{name}}</span></p>
        <p>Skills: <span class="bolder">{{skill}}</span></p>
        <p>Date of Birth: <span>{{dateOfBirth}}</span></p>
        <p>Age: <span>{{age}}</span></p>
        <p>City: <span>{{city}}</span></p>
        <p>Phone: <span>{{phone}}</span></p>
        <p>Skype: <span>{{skype}}</span></p>
        <p>Email: <span>{{email}}</span></p>
      </div>
      <div class="show_div">
        <p>Money: <span class="bolder">{{salary}} грн.</span></p><br/>
        <p><span class="bolder">{{work}}</span></p><br/>
        {{#if education}}
          <h5 class="bolder">Education:</h5>
          {{#each education}}
            <span>Specialty: {{specialty}}, from: {{from}}, to: {{to}}, place: {{place}}</span><br/>
          {{/each}}
        {{/if}}
      </div>
      <div class="show_div">
        {{#if experiences}}
          <h5 class="bolder">Experiences:</h5>
          {{#each experiences}}
            <span>Specialty: {{specialty}}, from: {{from}}, to: {{to}}, place: {{place}}</span><br/>
          {{/each}}
        {{/if}}
        <br/>
        {{#if languages}}
          <h5 class="bolder">Languages:</h5>
          {{#each languages}}
            <span>Language: {{language}}, level: {{level}}</span><br/>
          {{/each}}
        {{/if}}
      </div>
      <div class="show_div">
        <h5 class="bolder">Професійні навички: <span class="bolder">{{proff}}</span></h5><br/>
        {{#if communication}}
        <h5 class="bolder">Співбесіди:</h5>
          {{#each communication}}
            <span>Дата: {{date}}, Бали: {{mark}}</span><br/>
          {{/each}}
        {{/if}}
      </div>
      <div class="show_div">
        <h5 class="bolder">Comment:</h5><p>{{comment}}</p>
        <a href="/resume/{{_id}}">
          <button type="button" class="btn btn-primary">Show</button>
        </a>
      </div>
    {{/each}}
  {{else}}
    <h5 class="bolder">No persons.</h5>
  {{/if}}
</template>
