<template name="removePerson">
  {{#if currentUser}}
    <div class="formName">
      <ul>
        {{#each person}}
          <li class="person {{selectedClass}}">{{name}}: {{skill}}: {{dateOfBirth}}: {{city}}: {{phone}}</li>
        {{/each}}
      </ul>
    </div>
    {{#if selectedPerson}} 
      &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default remove">Delete</button>
    {{/if}} 
  {{/if}}
</template>
