<template name="addPersonForm">
  {{#if currentUser}}
    <div class="addPerson">
      <form class="insertForm">
        <div class="form-group inline">
          <label for="">Name</label>
          <input type="text" class="form-control" name="personName" placeholder="Прізвище ім'я"/>
        </div>

        <div class="form-group inline">
          <label for="">Skills</label>
          {{#each skills}}
            <input type="text" class="form-control" name="personSkill" placeholder="Скіли"/>
          {{/each}}
        </div>

        <div class="form-group inline">
          <input type="button" value="add skill" class="addSkill"/>
        </div>

        <div class="form-group inline">
          <label for="">Date of Birth</label>
          <input type="date" class="form-control" name="personDate" placeholder="Дата народження"/>
        </div>

        <div class="form-group inline">
          <label for="">Age</label>
          <input type="text" class="form-control" name="personAge" placeholder="Кількість років"/>
        </div>

        <div class="form-group inline">
          <label for="">City</label>
          <input type="text" class="form-control" name="personCity" placeholder="Місто"/>
        </div>

        <div class="form-group inline">
          <label for="">Phone</label>
          <input type="text" class="form-control" name="personPhone" placeholder="Телефон"/>
        </div>

        <div class="form-group inline">
          <label for="">Skype</label>
          <input type="text" class="form-control" name="personSkype" placeholder="Скайп"/>
        </div>

        <div class="form-group inline">
          <label for="">Email</label>
          <input type="email" class="form-control" name="personEmail" placeholder="Електронна пошта"/>
        </div>

        <div class="form-group inline">
          <label for="">Salary</label>
          <input type="text" class="form-control" name="personSalary" placeholder="Бажана заробітня плата"/>
        </div>

        <div class="form-group inline border">
          <h4>Зайнятість</h4>
          <div class="checkbox">
            <label><input type="checkbox" name="personWork" value="Повна зайнятість"/>Повна зайнятість</label><br/>
            <label><input type="checkbox" name="personWork" value="Неповна зайнятість"/>Неповна зайнятість</label><br/>
            <label><input type="checkbox" name="personWork" value="Дистанційна робота"/>Дистанційна робота</label><br/>
          </div>
        </div>

        <div class="form-group inline border" id="allEduc">
          {{#each educs}}
            <div class="educDiv">
              <h4 for="">Освіта</h4>
              <input type="text" class="form-control" name="education" placeholder="Спеціальність"/>
              <label for="">From</label>
              <input type="date" class="form-control" name="educationFrom" placeholder="Навчався З"/>
              <label for="">To</label>
              <input type="date" class="form-control" name="educationTo" placeholder="Навчався До"/><br/>
              <input type="text" class="form-control" name="educationPlace" placeholder="Навчальний заклад"/>
            </div>
          {{/each}}
        </div>
        <div class="form-group inline">
          <input type="button" value="add educ" class="addEduc"/>
        </div>

        <div class="form-group inline border" id="allJobs">
          {{#each exps}}
            <div class="jobDiv">
              <h4 for="">Досвід роботи</h4>
              <input type="text" class="form-control" name="job" placeholder="Спеціальність"/>
              <label for="">From</label>
              <input type="date" class="form-control" name="jobFrom" placeholder="Працював З"/>
              <label for="">To</label>
              <input type="date" class="form-control" name="jobTo" placeholder="Працював До"/><br/>
              <input type="text" class="form-control" name="jobPlace" placeholder="Місце роботи"/>
            </div>
          {{/each}}
        </div>
        <div class="form-group inline">
          <input type="button" value="add job" class="addJob"/>
        </div>

        <div class="form-group inline border">
          <h4 for="">Знання мови</h4>
          {{#each langs}}
            <div class="langDiv"><hr/>
              <select class="form-control" name="lang">
                <option>Мова</option>
                <option>Англійська</option>
                <option>Російська</option>
                <option>Німецька</option>
                <option>Французька</option>
                <option>Італійська</option>
                <option>Польська</option>
                <option>Іспанська</option>
                <option>Португальська</option>
              </select><br/>
              <select class="form-control" name="langLevel">
                <option>Рівень</option>
                <option>Високий</option>
                <option>Вище середнього</option>
                <option>Середній</option>
                <option>Нище середнього</option>
                <option>Низький</option>
              </select><br/>
            </div>
          {{/each}}
        </div>
        <div class="form-group inline">
          <input type="button" value="add lang" class="addLang"/>
        </div>

        <div class="form-group inline" id="allProffs">
          <label for="">Професійні навички</label>
          {{#each profs}}
            <input type="text" class="form-control" name="personProff" placeholder="Професійні навички"/>
          {{/each}}
        </div>
        <div class="form-group inline">
          <input type="button" value="add Proff" class="addProff"/>
        </div>

        <div class="form-group inline border">
          {{#each comms}}
            <div class="commDiv">
              <h4 for="">Співбесіда</h4>
              <input type="date" class="form-control" name="communDate" placeholder="Дата"/><br/>
              <input type="text" class="form-control" name="communValue" placeholder="Кількість балів"/><br/>
            </div>
          {{/each}}
        </div>
        <div class="form-group inline">
          <input type="button" value="add Commun" class="addCommun"/>
        </div>

        <div class="form-group inline border">
          <h4>Професія</h4>
          <div class="checkbox">
            <label><input type="checkbox" name="proffession" value="Front-end"/>Front-end</label><br/>
            <label><input type="checkbox" name="proffession" value="Back-end"/>Back-end</label><br/>
          </div><hr/>
          <h4>Статус</h4>
          <div class="checkbox">
            <label><input type="checkbox" name="status" value="New"/>Нове</label><br/>
            <label><input type="checkbox" name="status" value="Consider"/>В розгляді</label><br/>
            <label><input type="checkbox" name="status" value="Yes"/>Пройшов співбесіду</label><br/>
            <label><input type="checkbox" name="status" value="Reserve"/>Резерв</label><br/>
            <label><input type="checkbox" name="status" value="Refused"/>Відмовився</label><br/>
            <label><input type="checkbox" name="status" value="No"/>Не підходить</label><br/>
          </div>
        </div>

        <div class="border" id="comment">
          <h4 for="">Коментарі</h4>
          <textarea class="form-control" rows="7" name="comment"></textarea>
        </div><br/>

        <button type="submit" class="btn btn-default">Зберегти</button>
      </form>
    </div><br/><br/>

    <label for="">File</label>
    <input class="upload" type="file"/><br/><br/>

    <table border="1">
      <tbody>
        {{#each theFiles}}
          <tr>
            <td class="files_id">{{_id}}</td>
            <td>{{uploadedAt}}</td>
            <td>{{original.name}}</td>
            <td><a href="{{url}}">link</a></td>
            <td>{{#if isUploaded}}uploaded{{else}}uploading...{{/if}}</td>
            <td><button id="deleteFileButton">delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  {{/if}}
</template>
