<template name="search">
  <form class="navbar-form navbar-left form-group">
    <div class="form-group">
      <h4>Enter name or skill or age or city or phone or salary or email or skype</h4>
      {{> EasySearch.Input index=personsIndex }}
      <ul>
        {{#EasySearch.Each index=personsIndex }}
          <li>Name: <a href="/resume/{{_id}}">{{name}}</a></li>
        {{/EasySearch.Each}}
      </ul>
    </div>
  </form>
<br/><br/>
</template>
