<template name="allResumes">
  {{#if currentUser}}
    <div class="">
      {{#each persons}}
        <div class="person resume_block">
          <div class="comm_div">
            {{#each communications _id}}
              <p class="text-center commun">Співбесіда: {{date}} - Бали: {{mark}}</p>
            {{/each}}
          </div>
          <p class="text-center bolder">Name: {{name}}</p>
          <p class="text-center">Phone: {{phone}}</p>
          <p class="text-center">Skype: {{skype}}</p>
          <p class="text-center bolder">Skills: {{skill}}</p>
          <p class="text-center">ЗП: {{salary}} грн.</p>
          <div class="text-center">
            <p>
              <a href="/resume/{{_id}}">
                <button type="button" class="btn btn-primary">Show</button>
              </a>
              <a href="/edit/{{_id}}">
                <button type="button" class="btn btn-primary">Edit</button>
              </a>
            </p>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</template>
